@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
    /* Color variables */
    --bg-primary: #79afff;
    --text-primary: #000000;
    --borders: #636363;

    /* Spacing variables in consistent units */
    --space-xxs: 0.2rem;
    --space-xs: 0.5rem;
    --space-smalf: 0.75rem;
    --space-sm: 1rem;
    --space-md: 2rem;
    --space-lg: 3rem;
    --space-xl: 4rem;
    --consist-marg: 1.75rem;
}

body {
    font-family: "Roboto Slab", serif;
    color: var(--text-primary);
    background-color: #bceeff;
}

header {
    background-color: #72c6ff;
    padding: var(--space-xs);
    margin: var(--consist-marg);
    margin-bottom: 1.5rem;
    line-height: var(--space-md);
    border: 0.2rem solid var(--borders);
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    line-height: 2rem;
}

.content {
    margin: var(--consist-marg);
    border: 0.2rem solid var(--borders);
    line-height: 1.5rem;
    padding: var(--space-smalf);
    background-color: #abd0ff;
    border-radius: 10px;
}
.content p {
    /*create spacing between paragraphs*/
    margin-bottom: var(--space-md);
}

@media (max-width: 530px) {
    p {
        /*Adjust font size depending on viewport dimensions*/
        font-size: 1.25rem;
        /*prevent squished lines of text when enlarged*/
        line-height: var(--space-md);
    }

    h1 {
        font-size: 2.175rem;
        line-height: 2.2rem;
    }
}

footer {
    border: 0.2rem solid var(--borders);
    border-radius: 10px;
    padding: var(--space-xs);
    margin: var(--consist-marg);
    background-color: #d4d4d4;
}

.further-reading {
    border: 0.2rem solid var(--borders);
    padding: var(--space-sm);
    margin: var(--consist-marg);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.cards h2 {
    margin: 0 auto;
    min-width: 10rem;
}

.card {
    border: 0.2rem solid;
    padding: var(--space-sm);
}
